* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: grey;
    background-image: radial-gradient(white, grey);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: rgb(98, 71, 215);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    color: white;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}
nav {
    background-color: white;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 0.5rem;
}

nav ul li a, 
nav ul li a:visited {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

nav ul li a:hover,
nav ul li a:focus {
    color: rgb(134, 130, 130);
    font-size: 1.5rem;
}

nav ul li a:active {
    color: darkred;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #cbd5e1;
    border: 2px solid rgb(93, 90, 90);
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
    font-size: 1.45rem;
}

.card:target {
    border: 2px purple solid;
}
.card figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.card figure img {
    border-radius: 50%;
    border: 4px slategrey double;
}

.card figcaption {
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}

.card p {
    margin-top: 1rem;
}

@media screen and (min-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .card {
        width: min(100%, 400px);
    }

    .card:last-child {
        order: -1;
    }
}

@media screen and (min-width: 768px) {
    nav {
        display: none;
    }

    .card {
        width: min(100%, 350px);
        margin: 0.5rem;
    }

    .card figure {
        flex-direction: column-reverse;
    }

    .card figure figcaption {
        margin-top: 0.2;
    }
}

@media screen and (min-width: 992px) {

    .card {
        width: min(100%, 400px);
    }
    .card:nth-child(2) {
        order: -1;
    }

    header, footer {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    .card {
        width: min(calc(33% - 1rem), 500px);
    }
    
}

@media screen and (max-height: 425px) and (orientation: landscape) {
    nav {
        display: none;
    }
    h1 {
        font-size: 1.5rem;
    }
    main {
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .card {
        width: min(calc(33%-1rem), 200px);
    }

    .card figcaption,
    .card p {
      font-size: 1.25rem;
    }
  
}