* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --PADDING: 0.5em;
    --FG: 1;
    --FS-SM: clamp(1.25rem, 2vh, 1.5rem);
    --FS: clamp(1.75rem, 4vh, 2.25rem);
    --FS-XL: 3rem;
    --BGCOLOR: grey;
    --SMOKECL: whitesmoke;
    --PURE: white;
    --DEEP: #1E293B;
    --DARK: rgb(59, 56, 56);
    --BTBORDER: 0.5px solid var(--DARK);
    --BXSHADOW: 0 6px 5px -5px var(--DARK);

    --SQUARE-SZ: max(145px, 20vw);
    --SQUARE-BKC: papayawhip;
}

@media (prefers-color-scheme: light) {
    :root {
        --BGCOLOR: black;
        --SMOKECL: rgb(220, 217, 217);
        --SQUARE-BKC: rgb(192, 173, 192);
    }
}
  
  body {
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--SMOKECL), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: var(--FS);
  }
  
  header, footer, nav {
    position: sticky;
    background-color: var(--DEEP);
    color: var(--SMOKECL);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    top: 0;
    border-bottom: var(--DEEP) solid 1px;
  }
  
  nav {
    background-color: var(--PURE);
    color: var(--DEEP);
    border: var(--BTBORDER);
    box-shadow: var(--BXSHADOW); 
}
  
  main {
    display: flex;
    flex-grow: var(--FG);
    gap: min(2vw, 20px);
  }

  main section {
    flex-grow: var(--FG);
    padding: var(--PADDING);
    font-size: var(--FS);
  }

  main aside {
    background-color: var(--DARK);
    color: var(--PURE);
    font-size: var(--FS-SM);
    padding: var(--PADDING);
    font-style: italic;
  }

  section a:visited,
  section a:link {
    text-decoration: none;
    color: var(--DEEP);
  }

  section a:hover,
  section a:focus {
    filter: brightness(200%);
    font-size: var(--FS-XL);
  }

  section a:active {
    color: red;
}

  .content {
    margin-top: 20px;
  }
  
  /* main .square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: var(--SQUARE-SZ);
    height: var(--SQUARE-SZ);
    border: var(--BTBORDER);
    font-size: var(--FS-XL);
    background-color: var(--SQUARE-BKC);
    box-shadow: var(--BXSHADOW);
  } */

  /* main .square--highlight {
    --SQUARE-BKC: cornflowerblue;
  } */

  .tooltip {
    position: relative;
  }

  .tooltip:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    white-space: nowrap;
    background-color: var(--DARK);
    border-radius: 15px;
    padding: var(--PADDING);
  }

  footer {
    bottom: 0;
  }
  
@media screen and (min-width: 576px) {
  main {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  main section{
    width: calc(70% - 5px)
  }

  main aside {
    width: calc(30% - 5px);
  }
}